# Default ignored files
.idea
*.iml
target

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.ipr

*.log
/logs/

# mac hidden file
.DS_Store

# local
/temp/

# vscode
**/.vscode/*

#mvn
**/.mvn/*
eclipse-formatter.xml

# generated code
/ats-jc-core/src/test/code/
# CodeGenerator
/ats-jc-core/src/test/com/moka/ats/jc/stan

/ats-jc-core/src/main/resources/logback-test.xml
